name: A workflow for my Hello World App
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK 24
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      # Run only the specified unit test class
      - name: Unit Tests
        run: mvn -Dtest=com.napier.sem.AppTest test

      # Install docker-compose (for ubuntu-24.04)
      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      # Package the app (skip tests) and run Docker Compose
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
          docker-compose up --abort-on-container-exit
